<div class="booyah-box col-10 offset-1">
	<h1>Welcome to Shoptastic! Here are some facts about us!</h1>
</div>
<br />
<br />

<div class="booyah-box col-10 offset-1">
	<h2>Shoptastic was founded in 2019 for the sole purpose of connecting shoppers to stores that they may not know exist. Like hole in the wall restaurants, these are hole in the wall shopping spots. As you can see on the landing page, we gave you a couple of spots to check out. Thank you for visiting us and we hope this helps you on your journey to finding something you like!</h2>
</div>
<br />


