<h1><%= @store.name %></h1>
<br />

<div class="booyah-box col-10 offset-1">
	<div class="img-src">
      <%= image_tag 'shoe1.jpg', class: 'img-fluid' %> 
	</div class="img-src d-none d-md-block">
</div>

<div class="booyah-box">
	<div style="text-align: right;" >
		<h1>Thanks for visiting us! Please come back again!</h1>
	</div>
</div>